@import "../styles/mediaQueries";
$aboutUsBck: url(../ASSETS/scott-goodwill-CtRE4_4L7b8-unsplash.jpg);
@mixin contactsStyles {
  background-image: $aboutUsBck;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
#contactsSc {
  @include contactsStyles();
}

@include respond-below(sm) {
  #contactsSc {
    @include contactsStyles();
  }
}

@include respond-above(sm) {
  #contactsSc {
    @include contactsStyles();
  }
}

@include respond-above(md) {
  #contactsSc {
    @include contactsStyles();
  }
}

@include respond-above(lg) {
  #contactsSc {
    @include contactsStyles();
  }
}

@include respond-above(xl) {
  #contactsSc {
    @include contactsStyles();
  }
}
